server:
  port: 8888
spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
          uri: https://github.com/guilherme95/config-server
          default-label: main
          search-paths: "greeting-service*"
#          username: username
#          password: password
